# Local development files.
*.local.*

# Devenv.
.devenv*
devenv.local.nix
devenv.local.yaml

# Direnv.
.direnv

# Pre-commit.
.pre-commit-config.yaml

# Gitlint.
.gitlint

# JavaScript.
node_modules/
dist/
